import mockData from "../mock-data/model.json"
<meui-navlink
    action=mockData.action
    class="meui-link"
    style="border:0px;"
    title="item-card"
    tabindex"-1"
    target="_blank"
    ariaLabel="test">
    This is a link
</meui-navlink>
