import safeGet from 'just-safe-get'

$ const title = safeGet(data, "model.title.text");
<if(title)>
    <title>${title}</title>
    <div class="clr-bottom">
        <div id="meh-title">
            $ let pageName = safeGet(input, "pageName");
            $ pageName = pageName ? pageName.toLowerCase() : "";
            <h1 id="meh-page-title" class=pageName>${title}</h1>
        </div>
    </div>
</if>
