import safeGet from 'just-safe-get'

<if(input.model && input.model.length > 0)>
    <ebay-notice
        key="item-notices"
        status="information"
        type="inline"
        class=[input.class, "item-notices"]>
        <ul>
            <for|notice| of=input.model>
                <li>
                    <me-textual-display model=notice/>
                </li>
            </for>
        </ul>
    </ebay-notice>
</if>
