<div style={
    width: "305px",
    margin: "auto",
    height: "100px"
}>
    <h3>Print shipping label</h3>
    <transactions-line-actions model=data.model.printShippingLabel/>
</div>
<div style={
    width: "305px",
    margin: "auto",
    height: "100px"
}>
    <h3>Contact buyer</h3>
    <transactions-line-actions model=data.model.coverBuyer/>
</div>
<div style={
    width: "305px",
    margin: "auto",
    height: "100px"
}>
    <h3>Leave feedback</h3>
    <transactions-line-actions model=data.model.leaveFeedback/>
</div>
