<if(input.showIcon)>
    <ebay-notice
        key="ebayNotice"
        status="confirmation"
        type="inline"
        a11y-heading-text=input.ariaText>
        <p><me-textual-display model=input.content class="item__status"/></p>
    </ebay-notice>
</if>
<else>
    <me-textual-display
        key="textualDisplay"
        model=input.content
        class="item__status"/>
</else>
