<div class="item__itemid_quantity">
    <me-textual-display model=input.model.itemId class="item__itemid"/>
    <me-sku-variations model=input.model.skuVariations/>
    <me-textual-display model=input.model.quantity class="item__quantity"/>
</div>
