<if(input.model)>
    <span class=["sku-variation", input.class]>
        <for|currentVariation| of=input.model>
            <me-textual-display class="sku-variation__item" model=currentVariation.textSpans/>
        </for>
    </span>
</if>
