<lasso-page package-path="./browser.json" flags=data.lassoFlags/>
<layout-app title="feedback test page">
    <@body>
        <div style="margin: 800px 350px; max-width: 1009px;">
            <!-- <meui-selling-activity model=data.success/> -->
            <!-- <meui-selling-activity model=data.success/> -->
            <!-- <meui-selling-activity model=data.totalsFailure/> -->
            <!-- <meui-selling-activity model=data.promoFailure/> -->
            <meui-selling-activity model=data.soldFailure/>
        </div>
    </@body>
</layout-app>
