import safeGet from 'just-safe-get'

$ const btnLabel = safeGet(input, "model.label.textSpans.0.text");
$ const sp = safeGet(input, "model.action.trackingList.0.eventProperty.sid");
<if(btnLabel)>
    <span key="viewTrackingBtn">
        <ebay-button class="view-tracking fake-link" on-button-click("onButtonClick") _sp=sp>
            ${btnLabel}
        </ebay-button>
    </span>
</if>
