<if(input.isLoading)>
    <div id="loading-delete" class="Aligner">
        <div class="spinner-cnt Aligner-item">
            <span class="spinner spinner--large valign" aria-label="Busy" role="img">
                &nbsp;
            </span>
        </div>
    </div>
</if>
