import mockModel from '../mock-data/model'

<div style="margin-top: 100px; width:1000px;">
    <me-item-card-top-bar model=mockModel.unansweredModel/>
</div>
<div style="margin-top: 100px; width:1000px;">
    <me-item-card-top-bar model=mockModel.dropPriceModel/>
</div>
<div style="margin-top: 100px; width:1000px;">
    <me-item-card-top-bar model=mockModel.noticeSuccessModel/>
</div>
<div style="margin-top: 100px; width:1000px;">
    <me-item-card-top-bar model=mockModel.noticeErrorModel/>
</div>
