import safeGet from 'just-safe-get'

style.less {
    .me-edit-link {
        .typography-regular();
        color: @color-link-default;
        background: @color-background-default;
        border: 0;
    }
}

$ {
    const buttonText = input.isEditMode ?
        safeGet(input, 'model.cancelText') :
        safeGet(input, 'model.editText');
}
<button class="me-edit-link" on-click("emit", "toggleEditMode")>
    <me-textual-display model=buttonText/>
</button>
