import safeGet from 'just-safe-get'
<if(safeGet(input, 'noticeModel.showNotice'))>
    <me-notice
        class=safeGet(input, 'noticeModel.class')
        type='inline'
        status=safeGet(input, 'noticeModel.status')
        priorityLabel=safeGet(input, 'noticeModel.priorityLabel')>
        <@message>
            <p>
                <me-textual-display model=safeGet(input, 'noticeModel.message')/>
            </p>
        </@message>
    </me-notice>
</if>
