<me-modal
    key="expiredPromo"
    class="expired-promo-modal-wrapper"
    closeAccText=state.model.closeButtonText
    open=state.showModal
    on-dialog-close("close")>
    <@title>${input.heading}</@title>
    <@main>
        <div class="expired-promos-section">
            <for|i| from=0 to=(state.model.expiredPromoOffers.length - 1)>
                <expired-promo-item model=state.model.expiredPromoOffers[i]/>
            </for>
        </div>
    </@main>
</me-modal>
