import safeGet from 'just-safe-get'

$ const models = input.model.data;
<if(models.modules.diagInfo)>
    <await(models.modules.diagInfo) timeout=5000>
        <@then|model|>
            $ models.modules.diagInfo = model;
            <diagnostics-info model=model/>
        </@then>
        <@catch|err|>
            <if(err.name === "TimeoutError")/>
            <else/>
        </@catch>
    </await>
</if>
