import safeGet from 'just-safe-get'

$ {
    const className = safeGet(data, "class");
    const qaId = safeGet(data, "qaId");
    const title = safeGet(data, "title");
    const subTitle = safeGet(data, "subTitle");
    const id = safeGet(data, "id");
}
<section id=id class=className qa-id=qaId>
    <meui-moduleTitle model=title/>
    <static-text class="module-sub-title" model=subTitle/>
    <${input.items}/>
</section>
