<div style="margin-top: 200px;">
    <meui-circle
        height="277"
        width="277"
        color="#71c63e"
        start-value="100"
        end-value="100"
        border-width="6">
        <div>Some content that can be added</div>
    </meui-circle>
</div>
