import safeGet from 'just-safe-get'

$ const seeAllTxt = safeGet(input, "model.textSpans.0.text");
$ const seeAllUrlAction = safeGet(input, "model.action");
$ const accessibilityText = safeGet(input, "model.accessibilityText");

<if(seeAllTxt)>
    <div class="see-all">
        <meui-navlink ariaLabel=accessibilityText action=seeAllUrlAction on-navLinkClickAPI("onNavLinkClickAPI")>
            <span>${seeAllTxt}</span>
        </meui-navlink>
    </div>
</if>
