import safeGet from 'just-safe-get';
$ {
    const title = safeGet(input, 'model.0.text');
    const missingAspects = safeGet(input, 'model.1.text')
}
<div class="missing-aspects">
    <div class="missing-aspects__title">
        ${title}
    </div>
    <div class="missing-aspects__details">
        ${missingAspects}
    </div>
</div>
