<div style="margin: 100px; text-align: center;">
    <meui-counter
        value="7100.15"
        currency-code="EUR"
        locale="de-DE"
        aria-label="Your 60-day total is $3,206.07"
        byline="60-day total"/>
</div>
