<gh-configure layout="FULL" categoryId=0/>
<!DOCTYPE html>
<html lang="en">
    <head>
        <ebay-font/>
        <meta charset="utf-8"/>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <lasso-head/>
    </head>
    <body class="no-touch">
        <div id="mainContent" class="container" role="main" tabindex="-1">
            <if(typeof input.body === "string")>${input.body}</if>
            <else>
                <${input.body}/>
            </else>
        </div>
        <div class="clearfix"/>
        <lasso-body/>
        <browser-refresh enabled="true"/>
    </body>
</html>
