import safeGet from 'just-safe-get'
<span class="sio-txn-modal">
    <txn-wrapper-mys
        key="txn-wrapper"
        type="fill"
        close-label=safeGet(input, "model.closeLabel")
        dialog-label=safeGet(input, "model.modalTitle")
        error=safeGet(input, "model.modalError")
        notice-label=safeGet(input, "model.priorityLabel")
        spinner-label=safeGet(input, "model.spinnerLabel")
        on-txn-wrapper__close("onTxnWrapperClose")/>
</span>
