class {
    onChange(e) {
        this.emit("text-change", e.target.value);
    }
}

<textarea
    class=input.class
    id=input.id
    maxlength=input.maxlength
    rows=input.rows
    placeholder=input.placeholder
    key="meTextArea"
    on-input("onChange")>${input.value}</textarea>
