import helper from './helper'


$ const modelData = helper.getData(state);
<if(modelData)>
    <button
        ...modelData.htmlAttributes
        class=`${modelData.class}`
        disabled="disabled"
        role="button"
        aria-label=modelData.ariaLabel
        key="meuiNavLinkDisabled">
        <${modelData.renderBody}/>
</button>
</if>
