import get from 'just-safe-get'

$ {
    const titleText = get(state, "titleText"),
        isDisplayLink = get(state, "isDisplayLink");
}
<ebay-button
    class="me-bookmark"
    title=titleText
    aria-label=titleText
    on-button-click("getData")
    disabled=!isDisplayLink>
    <span class=`bookmark-icon-${isDisplayLink ? "on" : "off"}`/>
</ebay-button>
