<me-user-note
    key=`userNotes-${input.model.itemId}`
    model=input.model.noteToSelf
    listingId=input.model.itemId
    content-map=input.model.addNoteContentMap
    on-edit-note("emit", "edit-note")/>

