<lasso-page package-path="./browser.json" flags=data.lassoFlags/>
<layout-app title="module error test page">
    <@body>
        <div style="margin: 20px; max-width: 1009px;">
            <meui-module-error model=data/>
        </div>
    </@body>
</layout-app>
